.grid_1-1-1-1{
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1rem;
    justify-content: space-between;

}
header a{
    text-decoration: none;
}

img{
    max-width: 100%;
    border: 1 px,;

 
}
.catlist a{
    font-size: 22px;
   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}  

.productText{
    color:grey;
    font-size: 22px;
}

.price, a{
    font-size:20px;
}
.price{
    font-weight: 500;
}

.disccount .disc_text{
    font-weight: 500;
    color:  rgb(219, 61, 9);
}
#procent1, #procent2{
    position: absolute;
    top:20px;
    left:0px;
    font-weight: 900;
    font-size: 24px;
    background-color: rgb(219, 61, 9);
    padding: 5px 10px 5px 10px;
}

.productInfo{
    position: relative;
    min-width: 300px;
    
}

.soldOut img{
    opacity: 40%;
}

.soldOut_Text{
    position: absolute;
    top:220px;
    left:50px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    
}