.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 30px;
}
header a{
    text-decoration: none;
}

img{
    max-width: 300px;
 
}
.brandlist a{
    font-size: 22px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}   

