header a{
    text-decoration: none;
}
.brandlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.brandlist a{
    text-decoration: none;
    font-size: 22px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:rgb(58, 58, 68)
  
}