.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 30px;
}
header a{
    text-decoration: none;
}

img{
    max-width: 300px;
    border: 1 px,;

 
}
.brandlist a{
    font-size: 22px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}   

.productText{
    color:grey;
    font-size: 22px;
}

.price, a{
    font-size:20px;
}
.price{
    font-weight: 500;
}

.disccount .disc_text{
    font-weight: 500;
    color:  rgb(219, 61, 9);
}
#procent1, #procent2{
    position: absolute;
    top:20px;
    left:0px;
    font-weight: 900;
    font-size: 24px;
    background-color: rgb(219, 61, 9);
    padding: 5px 10px 5px 10px;
}

.productInfo{
    position: relative;
}

.soldOut img{
    opacity: 40%;
}

.soldOut_Text{
    position: absolute;
    top:170px;
    left:110px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 87, 87);
}